%div.post{ :id => "post-#{post.id}" }
  %hr
  = link_to "×", post_path(post), method: :delete, remote: true, disable_with: "x", class: "close"
  %h4
    = link_to post.title, post
    %small= post.updated_at

    = raw post.tag_list.map { |t| active_link_to t, tagged_posts_path(t), class: t +  "-tag-link tag-link", remote: true  }.join(', ')
  = raw post.content